/* Add a nice pixel-thin outline or border to the current tab */
.tabbrowser-tab[selected]::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0px;
  right: 0px;
  bottom: 2px;
  border: 1px solid white;
  border-radius: 5px;
}


* {
    animation-delay: 0ms !important;
    animation-duration: 0ms !important;
    transition: none !important;
}
