/* Add a nice pixel-thin outline or border to the current tab */
.tabbrowser-tab[selected]::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0px;
  right: 0px;
  bottom: 2px;
  border: 1px solid white;
  border-radius: 5px;
}

/* Completely disabling animations causes tabs to glitch/bug sometimes 
* {
    animation-delay: 0ms !important;
    animation-duration: 0ms !important;
    transition: none !important;
}
*/

/* Disable tab opening animation */
@-moz-document url("about:blank") {
  .tabbrowser-tab[pending] {
    transform: scale(1) !important;
    animation: none !important;
  }
}

/* Disable tab closing animation */
@-moz-document url("about:blank") {
  .tabbrowser-tab[fadein] {
    animation: none !important;
    opacity: 1 !important;
  }

  .tabbrowser-tab[fadeout] {
    animation: none !important;
    opacity: 0 !important;
  }
}

/*
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
*/

